:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #2d2d2d;
    --desc-text-color: #999; 
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    scroll-behavior:smooth;
    
}

.main {
    min-height: 100vh;
}

/* animation */

@keyframes slide {
    100%{
        top: -260px;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
 
    to {
        opacity: 1;
    }
 }

 /* scroll to top */

 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(106, 200, 200);
    color: white;
    cursor: pointer;
    padding: 11px 14px;
    border-radius: 50%;
    font-size: 16px;
  }
  
  #myBtn:hover {
    transition: all .5s ease 0s;
    background-color: rgba(106, 200, 200, 0.8);
  }

  #about-me {
      padding-top: 66px;
  }

  .contact {
      padding-top: 66px;
  }

 
 


 
 