*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.pull-right{
    float: right!important;
}

.btn{
    display: inline-block;
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 11px 16px;
    
    line-height: auto;
    margin-top:16px;
    border:none;
    cursor: pointer;
    
}
.btn:hover{
    
    color:black;
    background-color: rgb(160, 156, 156);
}

.clear{
    clear:both;
}

.text-white{
    color: white !important;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content:"";
    display: block;
    clear:both;
}

.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}
.text-center{
    text-align: center !important; 
}
#main{
    height: auto;
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top:0;
    left: 0;
    
    right: 0;
    z-index: 1;
}

#menu, .menu1{
    list-style-type: none;
}

#menu{
    display: inline-block;
}

#menu .menu1{
    display: none;
    position:absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
    min-width: 138px;
    top:100%;
    left:0;
}

#menu li{
    display: inline-block;
    position: relative;
}

#menu > li > a{
    color: white;
    text-transform: uppercase;
}

#menu li a{
    
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#menu .menu1 li:hover a,
#menu > li:hover > a{
    color: black;
    background-color: rgb(148, 144, 144);
}

#menu .menu1 li a{
    color: black;
    width: 138px;
    padding: 0 16px;
    line-height: 38px;
}

#menu li:hover .menu1{
    display: block;
   
}

#menu .menu-down-button{
    font-size:10px;
}

#header .menu-search-button{
    color: white;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
    display: inline-block;
}

#header .search-button{
    float:right;
    cursor: pointer;
}

#header .search-button:hover .menu-search-button{
    background-color: red;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background:url('/assets/img/SliderTop/chicago.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-img  {
    position: absolute;
    bottom:48px;
    color: white;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text{
    font-weight: 500;
    font-size: 24px;
    margin-bottom:10px;
}

#slider .text-description{
    font-weight: 500;
    font-size: 15px;
    margin-bottom:15px;
}

#content .content-sections{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px  0 112px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
}

#content .section-slogen{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6 ;
}

#content .about-text{
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.5;
}

#content .theme{
    margin-top:48px;
}

#content .member-item{
    float: left;
    
   
    
}

#content .member-name{
    margin:15px 0;
    text-align: center;
    font-size: 17px;
}

#content .avatar{
    width: 154px;
    border-radius: 4px;
}

#content .tour-section{
    background-color: black;
    
}

#content .ticket-list{
    background-color: white;
    margin-top:40px;
}

.ticket-list li {
    font-size:15px;
}

.ticket-date{
    padding: 8px 16px;
    border-bottom: 1px solid rgb(117,117,117);
    color:#757575;
    list-style-type: none;
}

.ticket-list .sold-out{
    background-color: #f44336;
    padding: 0 8px;
    margin: 0 0 0 16px;
    color: white;
    font-weight: 500;
    width: auto;
    height: 22px;
}

.ticket-list .Quantity{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    float: right;
    line-height: 22.5px;
    text-size-adjust: 100%;
    display: block;
    font-size: 15px;
    padding: 0 8px 0 8px;
    margin-right: 16px;    
}

.place-list{
    margin-top:32px;
   

}



.place-img{
    width: 100%;
    display: block;
   
    
}
.place-img:hover{
    opacity: 0.7;
}

.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight:600 ;
    
}

.place-time{
    margin-top: 15px;
    color:#757575;
}

.place-desc{
    margin-top: 15px;
}







#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;

}

#footer .social-list a{
    color:rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    color:rgba(0,0,0,0.3);

}

#footer .copyright{
    margin-top:15px;
    color:rgba(0,0,0,0.6);


}

#footer .copyright a{
    color:rgba(0,0,0,0.6);


}


.modal{
    position:fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}

header.modal-header{
    min-height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.model-heading-icon{
    margin-right: 16px;
}

.close-heading-icon{
    position: absolute;
    right: 0;
    padding: 16px;
    cursor: pointer;
    opacity: 0.8;
    color:#fff;
    
}

.close-heading-icon:hover{
background-color: rgba(255, 247, 247, 0.3);
color: black;
opacity: 1;
}

.model-body {
    padding: 16px;
}

label.model-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

input.model-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

button#buy-ticket {
    width: 100%;
    background: #009688;
    border: none;
    color: white;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}

#buy-ticket:hover{
    opacity: 0.9;
    color: black;
    background-color: rgb(105, 104, 102);

}

.footer-modal{
    text-align: right;
    padding: 16px;
    
}
.footer-moda a{
    color: #2196F3;
}

.modal.open{
    display: flex;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding:10px;
    border: 1px solid #ccc;
    width: 100%;

}

.map-section img{
    width: 100%;
}



